@keyframes moving-gradient {
  0%{background-position: 100% 0%}
  100%{background-position: -100% 0%}
}

.button {
  background: #2889E2;
  color: #ffffff;
  font-size: 15px;
  font-family: inherit;
  padding: 11px 18px;
  border-radius: 5px;
  border: none;
  transition: background 0.3s;

  &:hover {
    background: #217cd1;  
  }

  &.loading {
    background: linear-gradient(90deg, #77B7F2 0%, #4d9eeb 50%, #77B7F2 100%);
    background-size: 200% 200%;
    animation: moving-gradient 1s infinite;
  }
}
