body {
  min-height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

.documentation.site-header {
  position: fixed;
  width: 100%;
  padding: 0 40px;
  height: 80px;
  box-sizing: border-box;
  z-index: 9999999999999;
  background: #ffffff;
  border-bottom: 1px solid #ececec;

  .inner {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    .site-nav li {
      display: inline-block;
      margin-left: 30px;

      a {
        color: #777777;
        transition: color 0.3s;

        &:hover {
          color: #111111;
        }
      }
    }
  }
}

.site-content {
  flex: 1;
}

.footer {
  border-top: 1px solid #efefef;
  padding: 45px 0;

  .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
